.header {
  grid-area: header;
  background-color: rgb(159, 255, 255);
  border-bottom: 2px solid rgba(21, 63, 80, 0.548);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;




  .back {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    gap: 10px;
    height: 100%;
    padding: 0 20px;

    background: transparent;
    border: none;

    > img {
      width: 20px;
    }
  }

  .page-name,
  .back {
    font-size: 20px;
    font-weight: normal;
  }
}