@use "_mixins.scss";

@include mixins.add-font('Preahvihear', 'preahvihear');


html {
  --sidebar-width: 350px;
  --header-height: 60px;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Preahvihear';
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: black;
}

button {
  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
  
}

.wrapper {

  display: grid;


  grid-template: {
    columns: var(--sidebar-width) 1fr;
    rows: var(--header-height) 1fr;
    areas: "sidebar header"
      "sidebar content";
  }

  .sidebar {
    line-height: 50px;
    font-size: 22px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid rgba(21, 63, 80, 0.548);
    position: sticky;
    top: 0;

    grid-area: sidebar;
    height: 100vh;
    background-color: rgb(182, 248, 228);

    .collapse-wrapper {

      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px;
      gap: 15px;
      width: 80%;


      .logo-image {
        width: 70%;
        margin: 0;
      }

      .close-sidebar-button {
        height: 40px;
        background-color: transparent;
        border: none;
        font-size: 22px;

        .collapse-icon-close {
          width: 40px;
        }
      }

    }



    nav {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      width: 100%;


      .navbar-item {
        font-size: 22px;
        width: 80%;
        height: 50px;
        background-color: rgb(190, 255, 255);
        border-radius: 7px;
        border: 1px solid rgb(113, 197, 197);
      }

      .active-item {
        background-color: rgb(152, 252, 252);
      }
    }

    .exit-button {
      width: 80%;
      height: 50px;
      margin: auto 0 calc((var(--sidebar-width) - 80%) / 2);
      border-radius: 7px;
      border: 1px solid rgb(113, 197, 197);
      font-size: 22px;
      background-color: rgb(152, 252, 252);
    }
  }

  .sidebar-close {
    
    .logo-image {
      display: none;
    }
  }

  header {
    grid-area: header;
    background-color: rgb(159, 255, 255);
    border-bottom: 2px solid rgba(21, 63, 80, 0.548);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;




    .back {
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      gap: 10px;
      height: 100%;
      padding: 0 20px;

      background: transparent;
      border: none;

      .back-image {
        width: 20px;
      }
    }

    .page-name,
    .back {
      font-size: 20px;
      font-weight: normal;
    }
  }

  main {
    grid-area: content;

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 30px;
      min-width: 500px;

      .button-wrapper,
      >div {

        width: 100%;
        display: grid;
        grid-template-columns: 1fr 250px 1fr;
      }

      .save-button {
        grid-column-start: 2;
        grid-column-end: 2;

        width: 250px;
        height: 40px;
        border: 1px solid black;
        border-radius: 7px;
        background-color: aquamarine;
        box-sizing: border-box;
      }

      .description {
        position: relative;
      }

      > div {


        padding-top: 20px;

        :first-child {
          justify-self: end;
          margin-right: 10px;
        }

        .invalid {
          align-self: center;

          font-size: 14px;
          color: red;
          
          margin-left: 10px;
        }

        .title-label,
        .type-label {
          align-self: center;
        }

        .title-input,
        .description-input,
        .type-selector {
          height: 40px;
          min-width: 250px;
          border: 1px solid black;
          border-radius: 7px;
          box-sizing: border-box;
          padding: 10px;
        }

        textarea {
          resize: vertical;


          &::-webkit-resizer {
            display: none;

          }
        }

        .custom-resizer {

          grid-column-start: 2;
          grid-column-end: 2;

          margin: 0;
          padding: 0;

          width: 10px;
          height: 10px;

          background-color: rgb(161, 236, 211);
          border-radius: 5px;

          position: absolute;
          bottom: 5px;
          right: 5px;

          pointer-events: none;
        }

        .type-selector {
          appearance: none;

          background: {
            image: url(../images/back-down.svg);
            repeat: no-repeat;
            size: 20px;
            position: calc(100% - 10px);
          }
        }



        .description-input {
          vertical-align: top;
          height: 120px;
          border-radius: 10px;

          ~ .invalid {
            align-self: start;
          }
        }
      }

      hr {
        width: 100%;
        margin: 50px 0;
      }

    }
  }

  .courses {
    background-color: rgb(145, 218, 218);;
    width: 70%;
    max-width: 1200px;
    margin: 50px auto;
    border: 2px solid rgb(82, 133, 133);
    border-radius: 5px;
    border-collapse: collapse;


    .number {
      min-width: 20px;
    }

    .type {
      min-width: 100px;
    }

    .title {
      min-width: 150px;
    }

    th, td {
      border: 1px solid rgb(82, 133, 133);
      height: 30px;
      padding: 5px;
    }

    td {
      vertical-align: top;
    }
  }

}
